@media (max-width: 700px) {
  .cardsContaiener {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 700px) {
  .card {
    max-width: 30%;
  }
  #professianlCard {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.App {
  min-height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px 40px 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("./images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

.title {
  margin: 0;
  text-transform: capitalize;
  color: #6d708d;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cardsContaiener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.card {
  width: 100%;
  color: #6d708d;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.card span {
  font-size: 50px;
  color: #494c5f;
}

.card a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.learnMoreBtn {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  padding: 10px 0px;
  width: 100%;
  border-radius: 5px;
  margin: 20px 0px;
}

.learnMoreBtn:hover {
  background-image: none;
  background-color: transparent;
  border: 1px solid #696fdd;
}

.learnMoreBtn:hover a {
  color: #696fdd;
}

#professionalCard {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  color: white;
}

#professionalCard span {
  color: white;
}

#professionalCard .learnMoreBtn {
  background-image: none;
  background-color: white;
}

#professionalCard .learnMoreBtn a {
  color: #696fdd;
}

#professionalCard .learnMoreBtn:hover {
  background-color: transparent;
  border: 1px solid white;
}

#professionalCard .learnMoreBtn:hover a {
  color: white;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle p {
  color: #6d708d;
  margin: 0;
  padding: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=App.css.map */